.calendar {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.calendar__content {
    display: flex;
    flex: 1;
}

.calendar__body {
    flex: 1;
}

.calendar__nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 0.5rem 2rem;

    border-bottom: 2px solid var(--border-primary);
}

.calendar__month {
    color: var(--text-primary);
}

.calendar__nav-btn {
    font-size: 1.5rem;

    color: var(--text-secondary);
    border: none;
    background-color: transparent;
}

.calendar__nav-btn:hover {
    cursor: pointer;

    color: var(--text-primary);
}

.calendar__weekdays {
    font-weight: 500;

    display: grid;

    margin: 0.4rem 0;

    text-align: center;

    color: var(--text-muted);

    grid-template-columns: repeat(7, 1fr);
}

.calendar__dates {
    display: grid;

    color: var(--text-secondary);

    grid-template-columns: repeat(7, 1fr);
    grid-row-start: 1;
    gap: 0.4rem;
}

.calendar__date {
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;

    aspect-ratio: 1 / 1;
}

.calendar__date--today {
    background-color: var(--secondary-muted);
}

.calendar__date:hover {
    cursor: pointer;

    background-color: var(--bg-primary);
}

.calendar__date--selected {
    color: var(--text-inverted);
    background-color: var(--secondary) !important;
}

.calendar__date--has-transactions {
    outline: 2px solid #84000050;
    outline-offset: 1px;
}

.calendar__transactions {
    display: flex;
    flex: 1;
    flex-direction: column;

    padding: 0 2rem;

    color: var(--text-primary);
}
