.calendar-view-title {
    margin-bottom: 1rem;
}

.calendar-view-layout {
    display: flex;
}

.calendar {
    flex: 1

    /* max-width: 600px; */
}

.calendar-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 0.5rem 2rem;

    /* border: 1px solid var(--text-secondary); */

    border-radius: 2rem;
    background-color: var(--bg-primary);
}

.calendar-current-month {
    color: var(--text-primary);
}

.calendar-nav {
    font-size: 1.5rem;

    color: var(--text-secondary);
    border: none;
    background-color: transparent;
}

.calendar-nav:hover {
    cursor: pointer;

    color: var(--text-primary);
}

.calendar-weekdays {
    font-weight: 600;

    display: grid;

    margin: 5px 0;

    text-align: center;

    color: var(--text-muted);

    grid-template-columns: repeat(7, 1fr);
}

.calendar-dates {
    display: grid;

    color: var(--text-secondary);

    grid-template-columns: repeat(7, 1fr);
    grid-row-start: 1;
    gap: 5px;
}

.calendar-date {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;

    aspect-ratio: 1 / 1;
}

.calendar-date:hover {
    cursor: pointer;

    background-color: var(--bg-primary);
}

.calendar-date.today {
    background-color: var(--bg-lighter);
}

.calendar-date.selected {
    outline: 4px solid var(
    --primary)
}

.calendar-date.has-transactions {
    font-weight: 700;

    color: var(--text-primary);
}

.calendar-transaction-list {
    flex: 1;

    padding: 2rem;

    color: var(--text-primary);
}
