.home {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.home__title {
    font-size: clamp(1.2rem, 5vw, 2rem);

    margin-bottom: 1rem;
}

.home__content {
    display: grid;
    flex: 1;

    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.home__section {
    padding: 1rem;

    color: var(--text-primary);
    border: 1px solid var(--border-secondary);
    border-radius: 0.5rem;
}

.home__transactions {
    display: flex;
    flex-direction: column;

    grid-row: 1 / 8;
}

.home__chart {
    min-width: 0;

    grid-row: 2 / 8;
}

.home__accounts {
    position: relative;

    overflow-x: auto;

    padding: 0;
}

.home__accounts::after {
    position: absolute;

    content: "";
    pointer-events: none;

    box-shadow: inset -12px 0 12px 0px var(--bg-darker);

    inset: 0;
}

.home__accounts-scroller {
    display: flex;
    overflow-x: auto;

    padding: 1rem;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 0.5rem;
}

.home__btn {
    padding: 0.6rem 1rem;

    cursor: pointer;

    border-radius: 0.8rem;
    background-color: var(--bg-lighter);
}

.home__account {
    font-weight: 600;

    display: flex;
    flex-direction: column;

    text-align: left;

    border: none;
}

.home__account--active {
    outline: 4px solid var(--primary);
}

.home__add-account {
    color: var(--text-muted);
    border: 2px solid var(--border-secondary);
    background-color: transparent;
}

.home__add-account:hover {
    color: var(--text-secondary);
    border: 2px solid var(--border-primary);
}

.home__account-balance {
    display: block;

    white-space: nowrap;
}

.home__account-name {
    font-size: 1.2rem;

    display: block;

    white-space: nowrap;
}
