.home-view {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.home-view-title {
    margin-bottom: 1rem;
}

.home-view-layout {
    display: grid;
    flex: 1;

    grid-template-columns: 7fr 5fr;
    gap: 1rem;
}

.home-view-layout section {
    padding: 1rem;

    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    background-color: var(--bg-primary);
}

.home-transaction-list {
    grid-row: 1 / 8;
}

.home-line-graph {
    grid-row: 2 / 8
}
