.profile-details p {
    font-weight: 700;

    margin-top: 1rem;

    text-align: center;

    color: var(--text-primary);
}

.profile-picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    border-radius: 50%;
}

.flex-container {
    display: flex;

    height: 100vh;

    background-color: var(--bg-primary);
}

aside {
    flex: 0 0 240px;

    margin: 2rem;
}

main {
    flex: 1 1 auto;

    margin: 2rem 1rem 2rem 0;

    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--bg-darker);
}

/* Navigation */

.main-nav {
    margin-top: 4rem;
}

.main-nav li {
    list-style: none outside;
}

.main-nav li a {
    font-size: 1.2rem;

    display: block;

    width: 100%;
    padding: 0.8rem 2rem;

    color: var(--text-secondary);
    border-radius: 0.5rem;
}

.main-nav li a:hover {
    color: var(--text-primary);
    background-color: var(--bg-darker);
}

.main-nav li a.current {
    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    background-color: var(--bg-secondary);
}

/* navigation icons */

.overview::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;

    display: inline-block;

    padding-right: 0.8em;

    content: "\f201";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.expenses::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;

    display: inline-block;

    padding-right: 0.8em;

    content: "\f4c0";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.income::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;

    display: inline-block;

    padding-right: 0.8em;

    content: "\f4d3";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.logout::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;

    display: inline-block;

    padding-right: 0.8em;

    content: "\f2f5";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.main-content {
    display: flex;
    flex-direction: column;

    padding: 4rem 1rem 1rem;
}
