.app-layout {
    display: flex;

    height: 100vh;

    background-color: var(--bg-primary);
}

.app-layout-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    margin: 2rem 1rem 2rem 0;
    padding: 4rem 1rem 1rem;

    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--bg-darker);
}

.app-layout-sidebar {
    flex: 0 0 240px;

    margin: 4rem 1rem;
}

.app-layout-username {
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;

    color: var(--text-primary);
}

.app-layout-nav {
    margin-top: 4rem;
}

.app-layout-nav-link {
    font-size: 1.2rem;

    display: block;

    width: 100%;
    padding: 0.8rem 2rem;

    cursor: pointer;

    color: var(--text-secondary);
    border-radius: 0.5rem;
}

.app-layout-nav-link:hover {
    color: var(--text-primary);
    background-color: var(--bg-darker);
}

.app-layout-nav-link-active {
    color: var(--text-primary);
    outline: 1px solid var(--border-primary);
    background-color: var(--bg-secondary) !important;
}

.app-layout-fab {
    font-size: 1.5rem;
    font-weight: 500;

    position: fixed;
    right: 20px;
    bottom: 35px;

    width: 4rem;

    color: var(--text-primary);
    border: none;
    border-radius: 1rem;
    background-color: var(--primary);

    aspect-ratio: 1 / 1;
}
