.app-layout {
    display: flex;

    height: 100vh;

    background-color: var(--bg-primary);
}

.app-layout__main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    min-width: 0;
    padding: 4rem 1rem 1rem;

    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--bg-darker);
}

.app-layout__sidebar {
    flex: 0 0 240px;

    margin: 4rem 1rem;
}

.app-layout__username {
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;

    color: var(--text-primary);
}

.app-layout__nav {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;

    gap: 0.2rem;
}

.app-layout__nav-link {
    font-size: 1.2rem;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 0.6rem 2rem;

    cursor: pointer;
    text-align: start;

    color: var(--text-secondary);
    border: none;
    border-radius: 0.5rem;
    background-color: var(--bg-primary);

    gap: 1rem;
}

.app-layout__nav-link:hover {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
}

.app-layout__nav-link--active {
    color: var(--text-primary);
    background-color: var(--secondary-muted) !important;
}

.app-layout__nav-link:focus-visible {
    outline: 2px solid var(--secondary);
}

.app-layout__fab {
    font-size: 1.6rem;

    position: fixed;
    right: 20px;
    bottom: 35px;

    width: 4rem;

    cursor: pointer;

    color: var(--text-inverted);
    border: none;
    border-radius: 1rem;
    background-color: var(--secondary);

    aspect-ratio: 1 / 1;
}
