.modal__backdrop {
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    inset: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal__content {
    position: relative;

    width: min(480px, calc( 100vw - 2rem) );
    padding: 1.5rem;

    border: 1px solid var(--border-primary);
    border-radius: 1rem;
    background-color: var(--bg-primary);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.modal__header {
    display: flex;
    align-items: center;

    margin-bottom: 1.5rem;

    gap: 0.8rem;
}

.modal__title {
    font-size: 1.2rem;
    font-weight: 700;
}

.modal__subtitle {
    font-size: 0.8rem;

    color: var(--text-muted);
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.4rem;
    height: 2.4rem;
    margin-left: auto;
    padding: 1rem;

    cursor: pointer;
    transition: color 0.2s;

    color: var(--text-muted);
    border: none;
    border-radius: 50%;
    background: none;
}

.modal__close:hover {
    transition: all 0.5s ease;

    background-color: var(--bg-secondary);
}

.modal__account-list {
    display: flex;
    flex-direction: column;

    gap: 0.4rem;
}

.modal__account-item {
    flex: 1;
}

.modal__account-link {
    display: flex;
    align-items: center;

    padding: 0.5rem 0.8rem;

    cursor: pointer;

    border-radius: 0.5rem;
    background: var(--bg-secondary);
}

.modal__account-link:hover {
    background: var(--bg-lighter);
}

.modal__account-info {
    display: flex;
    flex: 1;
    flex-direction: column;

    min-width: 0;
}

.modal__account-status {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.modal__account-name {
    font-weight: 600;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal__account-currency {
    font-size: 0.8rem;

    color: var(--text-secondary);
}

.modal__account-status--archived {
    font-size: 0.8rem;

    padding: 0.2rem 0.4rem;

    text-align: center;

    color: var(--text-secondary);
    border-radius: 999px;
    background: var(--bg-lighter);
}

.modal__account-status--active {
    font-size: 0.8rem;

    padding: 0.2rem 0.4rem;

    text-align: center;

    color: var(--text-primary);
    border-radius: 999px;
    background: var(--primary);
}

.modal__actions {
    display: flex;

    margin-top: 2rem;

    gap: 1rem;
}

.modal__btn {
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.6rem 1.2rem;

    cursor: pointer;

    border: none;
    border-radius: 0.8rem;
}

.modal__btn--primary {
    flex: 1;

    background: var(--secondary);
}

.modal__btn:hover {
    border-radius: 4rem;
}
