.register {
    padding: 4em;

    background: url(../public/images/login-bg.jpg) center fixed no-repeat;
    background-size: cover;
}

.register-layout {
    display: flex;
    justify-content: flex-end;

    height: calc(100dvh - 8rem);
}

.register-form {
    display: flex;
    flex: 0 1 680px;
    flex-direction: column;

    padding: 4rem;

    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    border-radius: 2em;

    gap: 2rem;

    background-color: var(
    --bg-primary)
}

.register-form h2 {
    margin-bottom: 1rem;
}

.register .err-message p {
    font-weight: 600;

    color: var(--error);
}

.register-form fieldset {
    display: flex;
    flex-direction: column;

    border: none;
}

.register-form input {
    padding: 0.4rem 0.8rem;

    color: var(--text-primary);
    border: none;
    border-radius: 0.4rem;
    outline: 1px solid var(--border-primary);
    background: transparent;
}

.register-form input:focus {
    outline: 2px solid var(--primary);
}

.register-form label {
    padding: 0.2rem 0.5rem;

    color: var(--text-secondary);
}

.register-form .buttons {
    display: flex;
    align-items: center;

    margin-top: auto;

    color: var(--text-secondary);

    gap: 1.4rem;
}

.register-form .sign-up-btn {
    font-size: 1.2rem;
    font-weight: bold;

    padding: 0.8rem 3rem;

    transition: ease-in-out 0.2s;

    color: var(--text-primary);
    border: none;
    border-radius: 1rem;
    background-color: var(--primary);
}

.register-form .sign-up-btn:hover {
    cursor: pointer;

    border-radius: 2rem;
}

.register-form .sign-in-btn {
    font-size: 1.2em;

    color: var(--primary);
    border: none;
    background-color: transparent;
}

.register-form .sign-in-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
