body {
    padding: 4em;

    background: url(../public/images/login-bg.jpg) center fixed no-repeat;
    background-size: cover;
}

.register-wrapper {
    display: flex;
    justify-content: flex-end;

    height: calc(100vh - 8em);
}

.register-form {
    display: flex;
    flex: 0 1 680px;
    flex-direction: column;

    padding: 4em;

    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    border-radius: 2em;
    background-color: var(
    --bg-primary)
}

.register-form h2 {
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 2em;
}

.register-form fieldset {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;

    border: none;
}

.register-form input {
    padding: 0.5rem;

    border: none;
    border-radius: 0.6rem;
    outline: 1px solid var(--border-primary);
    background: transparent;
}

.register-form input:focus {
    border: none;
    outline: 2px solid var(--primary);
}

.register-form label {
    color: var(--text-secondary);
}

.register-form .buttons {
    font-size: 1.2rem;

    display: flex;
    align-items: center;

    margin-top: auto;

    color: var(--text-secondary);

    gap: 1.5rem;
}

.register-form .sign-up-button {
    font-size: 1.2rem;
    font-weight: bold;

    padding: 1rem 4rem;

    color: var(--text-primary);
    border: none;
    border-radius: 2rem;
    background-color: var(--primary);
}
