.transactions-view-layout {
    display: flex;
}

.transactions-view-title {
    margin-bottom: 1rem;
}

.transactions-list {
    flex: 1
}

.transactions-list-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 0.5rem 2rem;

    border-radius: 2rem;
    background-color: var(--bg-primary);
}

.transactions-list-nav {
    font-size: 1.5rem;

    color: var(--text-secondary);
    border: none;
    background-color: transparent;
}

.transactions-list-nav:hover {
    cursor: pointer;

    color: var(--text-primary);
}

.transactions-chart {
    flex: 1;
}
