:root {
    color-scheme: dark;
    --primary: #1c4fb6;
    --secondary: #96afff;
    --secondary-muted: #3f4258;
    --positive: #00e27b;
    --negative: #e06b6b;

    /* Toast notifactions */

    --success-accent: #22c55e;
    --error-accent: #ef4444;
    --info-accent: #3b82f6;
    --error: #840000;
    --text-primary: #f5f5f5;
    --text-secondary: #a0a0a0;
    --text-muted: #6e6e6e;
    --text-inverted: #0a0a0a;
    --border-primary: #4c4c4c;
    --border-secondary: rgba(50, 50, 50, 0.5);
    --bg-lighter: #4a4a4a;
    --bg-primary: #191919;
    --bg-secondary: #252525;
    --bg-darker: #111111;
}
