<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../styles/login.css">
</head>

<body>
    <form class="login-form" action="#">
        <h2>Login</h2>

        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email">
        </fieldset>

        <fieldset>
            <label for="password">Password</label>
            <input type="password" name="password">
        </fieldset>

        <button>Submit</button>
    </form>
</body>

</html>