<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../styles/global.css">

</head>

<body>
    <div class="login-wrapper">

        <form class="login-form" action="#">
            <h2>Sign in</h2>

            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email">
            </fieldset>

            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password">
            </fieldset>

            <div class="buttons">
                <button class="sign-up-button">Sign in</button>
                <p>Or</p>
                <button class="sign-in-button">Sign up</button>
            </div>
        </form>
    </div>
</body>

</html>